{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}测试计划{% endblock %}</h2>
  {% if g.user %}
    <a class="btn btn-info" href="{{ url_for('test_plan.create') }}">新建</a>
  {% endif %}
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
          <th>测试计划名称</th>
          <th>作者</th>
          <th>创建时间</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
    {% for test_plan in test_plans %}
      <tr>
          <td><a href="{{ url_for('test_plan.update', id=test_plan['id']) }}">{{ test_plan['title'] }}</a></td>
          <td>{{ test_plan['username'] }}</td>
          <td>{{ test_plan['created'].strftime('%Y-%m-%d') }}</td>
          <td>
              <a class="btn btn-info" href="{{ url_for('test_plan.update', id=test_plan['id']) }}">更新</a>
          </td>
          <td>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
